.web_form {
  width: 80%;
  max-width: 500px;
  div {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    label {
      font-size: 0.8rem;
      line-height: 15px;
      color: $white;
      font-weight: 300;
      box-sizing: border-box;
    }
    input[type="email"],
    input[type="text"] {
      width: 100%;
      line-height: 3rem;
      height: 3rem;
      display: inline-block;
      border: 1px solid $inputBaseInactiveBorder;
      border-radius: 0;
      background-color: $inputBaseInactive;
      color: $black;
      padding: $inputPadding;
      line-height: normal;
      box-sizing: border-box;
      font-size: 14px;
      text-transform: none;
      padding: 0.375rem 0.5rem;
    }
    select {
      width: 100%;
      line-height: 3rem;
      height: 3rem;
      display: inline-block;
      border: 0.2px solid $white !important;
      border-radius: 0;
      background-color: $black;
      color: $white;
      padding: $inputPadding;
      line-height: normal;
      font-size: 14px;
      text-transform: capitalize;
      option {
        font-size: 14px;
        text-transform: capitalize;
        display: block;
        height: 100%;
        color: $black;
        line-height: 22px;
        font-weight: 300;
        white-space: nowrap;
        background: $white;
      }
    }

    input[type="checkbox"] {
      width: 7%;
      line-height: 3rem;
      height: 3rem;
      display: inline-block;
      border: 0.0625rem solid $grey;
      border-radius: 0;
      background-color: $grey;
    }
    input[type="checkbox"]:not(:checked),
    input[type="checkbox"]:checked {
      width: 1.25em;
      height: 1.25em;
    }
    button {
      &.button-blue-anim {
        line-height: 48px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        display: inline-block;
        height: 3rem;
        position: relative;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        min-width: 10.3125rem;
        margin: 15px 0;
        background: $ButtonBase;
        border-radius: 4px;
        border: 0;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 3px;
        &:hover {
          background: $ButtonHover;
          transition: 0.2s;
        }
      }
    }
    .terms {
      font-size: 13px;
      text-transform: uppercase;
      padding: 0.375rem 0.5rem;
    }
  }
}
.styled-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    background: $black;
    border: 1px solid $white;
    border-radius: 4px;
  }

  &:hover + label:before {
    background: $primary;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    background: $primary;
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 6px;
    background: white;
    width: 3px;
    height: 3px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(50deg);
  }
}

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  line-height: 4;
  overflow: hidden;
}
.select::after {
  content: url("/img/arrow.png");
  height: 5px;
  width: 5px;
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: $white;
}

#campaign {
  &:focus,
  &:active,
  &:focus-visible {
    border: 1px solid $inputBaseFocusBorder !important;
    background-color: $inputBaseFocus !important;
  }
}
