@import "_variables.scss";
@media only screen and(max-width: $layout-breakpoint-big) {
  .grid_col {
    .left_col {
      background: transparent;
    }
    .flex-container {
      min-height: 70vh;
      height: auto;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: center;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: center;
      justify-content: end;
    }
    footer {
      position: relative;
      bottom: 0;
      text-align: left;
      margin-left: 0px;
      margin-bottom: 25px;
    }
    .web_form {
      width: 100%;
      max-width: 500px;
      .web_form_header {
        text-align: center;
        padding: 0 10px;
        p {
          font-size: 1rem;
          font-weight: 300;
        }
        .V_header {
          font-size: 1.8rem;
          font-weight: 300;
        }
        .V_subheader {
          font-size: 1rem;
          text-align: left;
          max-width: 100%;
          padding: 10px;
          line-height: 1.5rem;
          color: $white;
          font-weight: 500;
        }
        .info {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}
@media only screen and(min-width: $layout-breakpoint-big) {
  .grid_col {
    .flex-container {
      min-height: 70vh;
      height: auto;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
}

@media only screen and(max-width: $layout-breakpoint-regular) {
  body {
    background-image: url($bgImg_regular) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  #info > form > div.center {
    margin: 0;
    padding: 0;
  }
  .logo {
    text-align: center;
  }
  .grid_col {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "left_col";
    grid-template-columns: 1fr;
    .left_col {
      padding: 25px 0 0 0;
      height: 100%;
    }
    .left_col {
      margin: 0px;
    }
    .right_col {
      display: none;
    }
    footer {
      text-align: center;
      margin-left: 0;
      width: 100%;
    }
    #info {
      background: $black;
      padding: 25px;
    }
    .web_form {
      width: 100%;
      max-width: 100%;
      .web_form_header {
        text-align: center;
        padding: 0 10px;
        p {
          font-size: 1rem;
          font-weight: 300;
        }
        .V_header {
          font-size: 2.8rem;
          font-weight: 300;
        }
        .V_subheader {
          font-size: 1rem;
          text-align: left;
          max-width: 100%;
          padding: 10px;
          line-height: 1.5rem;
          color: $white;
          font-weight: 500;
        }
        .info {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }

    .flex-container {
      min-height: 0vh;
      height: auto;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: center;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: center;
      justify-content: end;
    }
  }

  .web_form {
    .web_form_header {
      .V_subheader {
        text-align: center;
        display: inline-flex;
        width: 70%;
      }
    }
  }
}

@media only screen and(max-width: $layout-breakpoint-small) {
  body {
    background-image: url($bgImg_small) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .grid_col {
    .left_col {
      margin: 0px;
    }
    #info {
      padding: 20px;
    }
    .flex-container {
      min-height: 70vh;
      -webkit-box-align: end;
      -ms-flex-align: center;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: center;
      justify-content: end;
    }
    .footer {
      position: relative;
    }
  }
  .web_form {
    .web_form_header {
      padding: 0 0px;
      .divVoucherSubheader {
        text-align: center;
      }
      .V_subheader {
        text-align: center;
        width: 100%;
        padding: 0;
        color: #a1a1a1;
        font-weight: 500;
      }
    }
    .divVoucher {
      margin: 0;
    }
  }
  #termsAndConditions {
    margin: 15px 0 !important;
    text-align: center;
    label {
      font-size: 10px;
      .terms {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: $layout-breakpoint-xsmall) {
  .body {
    background-image: url($bgImg_xsmall) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .grid_col {
    .left_col {
      margin: 0px;
      .flex-container {
        min-height: 60vh;
      }
    }
    #info {
      padding: 14px;
    }
    .footer {
      position: relative;
    }
  }
  .web_form {
    .web_form_header {
      .V_header {
        font-size: 28px;
      }
    }
  }

  #termsAndConditions {
    margin: 15px 0 !important;
    text-align: center;
    label {
      font-size: 10px;
      .terms {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: $layout-breakpoint-xxsmall) {
  .web_form {
    .web_form_header {
      .V_header {
      }
      .V_subheader {
      }
    }
  }
  #info {
    form {
      div:nth-child(7),
      div:nth-child(9) {
        p {
          div {
            height: 80px !important;
          }
        }
      }
    }
  }

  .grid_col {
    .web_form {
      .web_form_header .V_subheader {
        padding: 0;
      }
    }
    footer {
      text-align: center;
      margin-left: 0;
      width: 100%;
      position: unset;
      margin: 0;
      font-size: 0.8rem;
    }
  }

  #termsAndConditions {
    margin: 15px 0 !important;
    text-align: center;
    label {
      font-size: 10px;
      .terms {
        font-size: 10px;
      }
    }
  }
}
