/*fonts*/
@font-face {
  font-family: "Gotham";
  src: url(/css/fonts/Gotham-Light.otf);
}

@font-face {
  font-family: "sans-serif";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

/*Variables*/
$layout-breakpoint-big: 1024px;
$layout-breakpoint-regular: 768px;
$layout-breakpoint-small: 414px;
$layout-breakpoint-xsmall: 375px;
$layout-breakpoint-xxsmall: 320px;
$black: #000;
$grey: #a1a1a1;
$white: #ffffff;
$inputPadding: 0 0.5rem;
$primary: #03a3da;
$viewH: 100vh;
$colBG: #000000c4;
$bgImg: "https://res.cloudinary.com/wundermanthompsontest/image/upload/b_rgb:000000,bo_0px_solid_rgb:000,o_49/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$bgImg_regular: "https://res.cloudinary.com/wundermanthompsontest/image/upload/b_rgb:000000,bo_0px_solid_rgb:000,o_49,c_scale,h_1024,w_768/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$bgImg_small: "https://res.cloudinary.com/wundermanthompsontest/image/upload/b_rgb:000000,bo_0px_solid_rgb:000,o_49,c_scale,h_730,w_500/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$bgImg_xsmall: "https://res.cloudinary.com/wundermanthompsontest/image/upload/b_rgb:000000,bo_0px_solid_rgb:000,o_49,c_scale,h_640,w_500/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$inputBaseInactive: #dcdcdc;
$inputBaseInactiveBorder: #828282;
$inputBaseFocus: #ffffff;
$inputBaseFocusBorder: #46a2d5;
$ButtonBase: #46a2d5;
$ButtonHover: #347ca3;
