$layout-breakpoint-big: 1024px;
$layout-breakpoint-regular: 768px;
$layout-breakpoint-small: 414px;
$layout-breakpoint-xsmall: 375px;
$layout-breakpoint-xxsmall: 320px;
$black: #000;
$grey: #a1a1a1;
$white: #dcdcdc;
$inputPadding: 0 0.5rem;
$primary: #03a3da;
$viewH: 100vh;
$colBG: #000000c4;
$bgImg: "https://res.cloudinary.com/wundermanthompsontest/image/upload/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$bgImg_regular: "https://res.cloudinary.com/wundermanthompsontest/image/upload/c_scale,h_1024,w_768/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$bgImg_small: "https://res.cloudinary.com/wundermanthompsontest/image/upload/c_scale,h_730,w_414/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
$bgImg_xsmall: "https://res.cloudinary.com/wundermanthompsontest/image/upload/c_scale,h_640,w_375/v1588082863/f4b6c44c4cfc8ab4b1d7a275f95970e1_qu6jxj.jpg";
