/* ---------------------------------------*/
@import "_variables.scss";
/* ---------------------------------------*/

body {
  background: $black;
  padding: 0px;
  margin: 0px;
  color: $white;
  font-family: Gotham, sans-serif, Arial;
}
a {
  color: $white !important;
}
.logo {
  text-align: left;
  img {
    width: 75px;
    height: 45px;
    border-radius: 4px;
  }
}

#notice {
  font-size: 0.8rem;
  color: #ffffff;
}
.row {
  width: auto;
}
.center {
  text-align: center;
}

.grid_col {
  display: grid;
  grid-gap: 0px;
  grid-template-areas: "left_col right_col";
  grid-template-columns: 1fr 1fr;

  .right_col {
    grid-area: right_col;
    background: url($bgImg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0px;
  }

  .left_col {
    grid-area: left_col;
    background: $black;
    min-height: 90vh;
    padding: 25px;
  }

  .flex-container {
    height: 80vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.web_form {
  .web_form_header {
    text-align: center;
    padding: 0 10px;
    p {
      font-size: 1rem;
      font-weight: 300;
    }
    .V_header {
      font-size: 2.6rem;
      font-weight: 300;
    }
    .V_subheader {
      font-size: 1rem;
      text-align: left;
      max-width: 100%;
      padding: 10px;
      line-height: 1.5rem;
      color: $white;
      font-weight: 500;
    }
    .info {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

#termsAndConditions {
  display: block;
  margin-top: 15px;
  color: $white;
  label {
    color: $white;
    margin-top: -2px;
    font-size: 0.8rem;
    a {
      color: $white;
    }
    .terms {
      text-transform: uppercase;
    }
  }
}
footer {
  position: relative;
  bottom: 0;
  font-size: 1rem;
  line-height: 1.4rem;
  color: $white;
  margin-top: 50px;
}
.left_col {
  display: grid;
  grid-gap: 0px;
  grid-template-areas: "logo" "main" "footer";
  grid-template-columns: 1fr;
  .logo {
    grid-area: logo;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
}

#info {
  form {
    div:nth-child(7),
    div:nth-child(9) {
      p {
        div {
          width: 100% !important;
          padding: 0;
          margin: 0;
          height: 60px !important;
        }
      }
    }
  }
  ul {
    li {
      padding: 5px 0;
      a {
        text-decoration: none;
      }
    }
  }
}

@import "_inputs.scss";
@import "_recaptcha.scss";
@import "_mobile.scss";
