$layout-breakpoint-big: 1024px;
$layout-breakpoint-regular: 768px;
$layout-breakpoint-small: 414px;
$layout-breakpoint-xsmall: 375px;

@media only screen and(max-width: $layout-breakpoint-big) {
}
@media only screen and(max-width: $layout-breakpoint-regular) {
  footer {
    position: relative;
    text-align: center;
    width: 100%;
  }
}

@media only screen and(max-width: $layout-breakpoint-small) {
}

@media only screen and (max-width: $layout-breakpoint-xsmall) {
}
